body {
  font-family: helvetica, arial, sans-serif;
}

h1 {
  font-style: italic;
  color: #373fff;
}

html, body {
  height: 100%;
  width: 100%;
  overflow:hidden;
  margin: 0;
}

.hidden {
  display: none;
}

.app-fab--absolute {
  position: fixed;
  bottom: 16px;
  right: 16px;
}

.icon-info {
  opacity: 10%;
  color: #fff;
}

.icon-info:hover {
  opacity: 75%;
}
